<header>
  <nav class="navbar">
    <div class="logo">
      <img src="/images/logo.jpg" alt="Logo" width="60px" height="60px">
    </div>
    <ul class="nav-links">
      <li><a href="/">INICIO</a></li>
      <li><a href="/catalogo">CATÁLOGO</a></li>
      <li><a href="/routes">RUTAS</a></li> <!-- Nuevo enlace -->
    </ul>
  </nav>
</header>
