<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title || 'Reservas de Vehículos' %></title>
  <link rel="stylesheet" href="/styles/style.css"> <!-- Tu CSS principal -->
</head>
<body>
  <%- include('_navbar') %>
  
  <main>
    <%- body %> <!-- Aquí se cargará el contenido de cada página -->
  </main>
</body>
</html>
